/*---------------------------------------------------------------------------
			Style commun à tous les éléments dans le BODY 
On souhaite placer nous même le BODY, et donc tous ses élements
(cf. position:absolute) :
	1. Le BODY commencera avec une distance par rapport à la bordure gauche
	2. A l'interieur du BODY, les élements pourront être placés suivant
	   un positionnement FLOAT.
----------------------------------------------------------------------------*/
body
{ 
position:absolute;
left:500px;
background-color:lightgrey;
text-align:center;
font-family:Tahoma,Arial;
font-size:14pt;
color:black;
font-weight:bold;
}

/*--------------------------
 Style des autres élements
---------------------------*/
/* Titre */
h1 {text-align:center; color:blue; font-size:85%;}

/* Le formulaire */
form {width:350px;}

/* Titres des cadres */
legend {color:yellow; font-size:85%}

/* Les étiquettes */
label {margin-top:10px; margin-bottom:10px; display:block; font-size:85%; color:green;}
label.inline {display:inline;}

input[type=text]		/* Les zones de saisie de type texte */
{ 
border:1px solid black; 
background-color:#A6BEDE;
font-size:85%; 
}

input[type=radio] 	/* Zones de saisie de type boutons radio */
{
background-color:transparent;
border:none;
}

/* Zones de liste */
select, option 		
{
background-color:#A6BEDE;
font-size:85%;
}

/* Tableaux */
table 
{
font-size:85%
border: medium solid #000000;
border-collapse: collapse;
}

th /* Cellules d'en-tête */
{
border: thin solid #6495ed;
padding: 5px;
background-color: black;
color:yellow; 
}

td  /* Cellules du tableau */
{
border: thin solid #6495ed;
padding: 5px;
color:black;
}
